<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Login - Only Chat</title>
  </head>
  <body>
    <form action="" method="post">
      <h1>Only Chat</h1>
      <div class="formulario">
        <div class="input">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="input">
          <label for="password">Senha</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Senha"
          />
        </div>
        <div class="input">
          <a routerLink="/home"><button type="submit">Login</button></a>
        </div>
        <a routerLink="/singup"><h3>Cadastre-se no Only Chat</h3></a>
      </div>
    </form>
  </body>
</html>
