<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Amigo - Only Chat</title>
  </head>
  <body>
    <header class="header">
      <h2 class="h2">Only Chat</h2>
      <div class="perfil-user">
        <p>Zairo Bastos</p>
        <i class="material-icons">person</i>
      </div>
    </header>
    <main>
      <header>
        <form action="">
          <div class="input">
            <input type="text" name="pesquisar" id="pesquisar" />
            <button>
              <i class="material-icons">search</i>
            </button>
          </div>
        </form>
      </header>
    </main>
    <div class="contatos">
      <div class="contato">
        <figure>
          <img src="../../../../assets/fred-etern9.jpg" alt="perfil" />
        </figure>
        <div class="dados">
          <h3>FRED ETERN9</h3>
          <div class="options">
            <a href="">
              <i class="material-icons">add_circle</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
