<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Only Chat</title>
  </head>
  <body>
    <header class="header">
      <h2 class="h2"><a href="" routerLink="/home">Only Chat</a></h2>
      <div class="perfil-user">
        <p>Zairo Bastos</p>
        <i class="material-icons">person</i>
      </div>
    </header>

    <div class="contatos">
      <div class="contato">
        <figure>
          <img src="../../../../assets/fred-etern9.jpg" alt="perfil" />
        </figure>
        <div class="dados">
          <h3>FRED ETERN9</h3>
        </div>
      </div>
      <div class="chat">
        <div class="chat1">
          <div class="minha"><p>Olá, tudo bem?</p></div>
          <div class="sua"><p>Tudo e com você?</p></div>
          <div class="minha">
            <p>Tudo certo</p>
          </div>
          <div class="minha"><p>Olá, tudo bem?</p></div>
          <div class="sua"><p>Tudo e com você?</p></div>
          <div class="minha">
            <p>Tudo certo</p>
          </div>
          <div class="minha"><p>Olá, tudo bem?</p></div>
          <div class="sua"><p>Tudo e com você?</p></div>
          <div class="minha">
            <p>Tudo certo</p>
          </div>
          <div class="minha"><p>Olá, tudo bem?</p></div>
          <div class="sua"><p>Tudo e com você?</p></div>
          <div class="minha">
            <p>Tudo certo</p>
          </div>
          <div class="sua">
            <p>Tudo e com você?</p>
          </div>
          <div class="sua"><p>Tudo e com você?</p></div>
        </div>
        <form action="">
          <div class="input">
            <input type="text" placeholder="Mensagem" name="mensagem" />
          </div>
          <div class="botao">
            <button type="submit"><i class="material-icons">send</i></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
