form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;
  width: 100%;
  height: 100%;
}
form h1 {
  font: normal normal 600 2.375rem/2.85rem "Poppins", sans-serif;
  color: #3c3c3c;
}
form h1 a {
  color: #3c3c3c;
  text-decoration: none;
}

form .formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
}

form input,
select {
  font: normal normal 400 0.8125rem/0.85rem "Poppins", sans-serif;
  padding: 0.625rem 0.9375rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  width: 100%;
}
input::placeholder {
  color: #3c3c3c;
}
form .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

form button {
  border: none;
  background-color: #f54a48;
  border-radius: 3px;
  color: #fff;
  padding: 10px 0.9375rem;
  width: calc(100% + 1.875rem);
  font: normal normal 600 0.875rem/1.05rem "Poppins", sans-serif;
}

form .input label {
  font: normal normal 600 0.875rem/1.05rem "Poppins", sans-serif;
  color: #7c7c7c;
}

select {
  width: calc(100% + 1.875rem);
}

input[type="file"] {
  display: none;
}

.perfil {
  font-size: 4rem;
  color: #f54a48;
  border-radius: 50px;
  border: 2px solid #f54a48;
  text-align: center;
}
.perfil2 {
  display: flex;
  width: calc(100% + 1.875rem);
  text-align: center;
  justify-content: center;
}
