.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  height: 80px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #fbfcff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.header .h2 {
  font: normal normal 600 0.875rem/2rem "Poppins", sans-serif;
  font-size: 2rem;
  color: #0c0b0b;
  height: 100%;
  margin: 0%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.header .h2 a {
  color: #0c0b0b;
  text-decoration: none;
}

.header .perfil-user {
  display: flex;
  height: 100%;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.header .perfil-user p {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

main header {
  z-index: 1;
  position: absolute;
  margin-top: 140px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}
main header form {
  width: 100%;
}
.input {
  display: flex;
  align-items: center;
  width: 30%;
}
.input input {
  font: normal normal 400 0.8125rem/0.85rem "Poppins", sans-serif;
  padding: 0.625rem 0.9375rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 3px 0px 0px 3px;
  width: 100%;
}
.input button {
  height: 37px;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
}
main header a {
  display: flex;
  align-items: center;
  width: 15%;
  text-decoration: none;
  gap: 4px;
  justify-content: center;
  border-radius: 3px;
  color: #fff;
  background-color: #f54a48;
  font: normal normal 600 0.875rem/1.05rem "Poppins", sans-serif;
}

.contatos {
  display: flex;
  position: absolute;
  margin-top: 230px;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  height: 10%;
}

.contatos .contato {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: #ffffff;
  border: 2px solid #f3f4f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  justify-content: flex-start;
  height: 320px;
}

.contatos .contato figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.contatos .contato figure img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.dados {
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.dados h3 {
  font: normal normal 600 0.875rem/1.25rem "Poppins", sans-serif;
  font-size: 1.25rem;
  color: #0c0b0b;
  margin: 0;
}
.dados .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dados .options a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #f54a48;
}

.dados .options .chat {
  color: #0c0b0b;
}
